{% extends 'base.html' %}

{% load static %}

<!--Page SEO Snippets-->
{% block titles %}
{% for g_seo in g_seo %}
{{g_seo.meta_title}}
{% endfor %}
{% endblock titles %}


{% block meta_description %}
{% for g_seo in g_seo %}
{{g_seo.meta_description}}
{% endfor %}
{% endblock meta_description %}


{% block meta_keyword %}
{% for g_seo in g_seo %}
{{g_seo.meta_keyword}}
{% endfor %}
{% endblock meta_keyword %}
<!--Page SEO Snippets-->

{% block gallery %}
    <!--====== PAGE TITLE  PART START ======-->
    {% for galslider in galslider %}
    <div class="page-title-area">
        <div class="section__bg" style="background-image: url('{{galslider.slider_image.url}}');"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="page-title-content text-center">
                        <h3 class="title">Galerie</h3>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="{% url 'home' %}">Accueil</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Galerie</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    
    <div class="photo-gallery">
        <div class="container mt-100">
            <div class="row photos">
                {% for gallery in gallery %}
                <div class="col-sm-6 col-md-4 col-lg-3 item"><img class="img-fluid" src="{{gallery.image.url}}" alt="{{gallery.title}}"></a></div>
                {% endfor %}
            </div>
            
        </div>
    </div>
    
{% endblock gallery %}